# Database
DATABASE_URL=your_db_url_here

# Server
PORT=3000
NODE_ENV=development

# API Keys
OPENWEATHERMAP_API_KEY=your_api_key_here
CLOUD_CONVERT_API_KEY=your_api_key_here
STITCH_API_KEY=your_stitch_api_key_here

# CORS
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000